A comment was posted 

Article: 
= @comment.posting.title 
= posting_url(@comment.posting)

Comment by:
= @comment.author

Comment title:
= @comment.title

==============

= @comment.body

==============
